<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h3>About Us</h3>
      <p>Connect with fellow digital nomads, find events, and explore together!</p>
      <!-- <div class="social-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div> -->
    </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a  (click)="scrollTo('home')">Home</a></li>
        <li><a  (click)="scrollTo('blog')">Blog</a></li>
        <li><a (click)="scrollTo('our-story')">Our Story</a></li>
        <li><a (click)="scrollTo('about-us')">About Us</a></li>
        <!-- <li><a routerLink="/contact">Contact</a></li> -->
      </ul>
    </div>

    <!-- <div class="footer-section">
      <h3>Newsletter</h3>
      <p>Subscribe to our newsletter for updates and news.</p>
      <form class="newsletter-form">
        <input type="email" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
      </form>
    </div> -->

    <div class="footer-section">
      <h3>Contact Info</h3>
      <div class="contact-info">
        <p><i class="fas fa-envelope"></i> hello&#64;wandermundo.com</p>
        <p><i class="fas fa-phone"></i> +27 74 707 3505</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear}} WanderMundo. All rights reserved.</p>
  </div>
</footer>