<header [class.scrolled]="isHeaderScrolled">
  <div class="left-section">
    <h1 class="logo" routerLink="/">WanderMundo</h1>
    <ul class="nav-links" *ngIf="(authService.user$ | async) as user">
      <a class="nav-link position-relative" routerLink="/chat">
        Live Chat
        <span *ngIf="unreadMessages > 0" 
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ unreadMessages > 99 ? '99+' : unreadMessages }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </a>

      <li class="nav-item">
        <a class="nav-link" routerLink="/members">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-event">Create Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account']">{{ user?.firstName || 'Profile' }}</a>
      </li>
    </ul>
  </div>

  <nav class="right-section">
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="auth-links" [class.active]="isMenuOpen">
      <li class="nav-item" *ngIf="!(authService.user$ | async)">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!(authService.user$ | async)">
        <a class="nav-link" routerLink="/signup">Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="(authService.user$ | async)">
        <a class="nav-link" (click)="signOut()">Sign Out</a>
      </li>
    </ul>
  </nav>
</header>
