<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="logo">
      <img src="assets/images/logo.png" alt="Logo">
      <span>Wandermundo</span>
    </a>
    <button class="mobile-menu-btn" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-links" [class.active]="isMobileMenuOpen">
      <li><a routerLink="/" routerLinkActive="active" (click)="toggleMobileMenu()">Home</a></li>
      <li><a routerLink="/our-story" routerLinkActive="active" (click)="toggleMobileMenu()">Our Story</a></li>
      <li><a routerLink="/about-us" routerLinkActive="active" (click)="toggleMobileMenu()">About Us</a></li>
      <li *ngIf="authService.userSubject$ | async" (click)="toggleMobileMenu()"><a routerLink="/create-event" routerLinkActive="active">Create Event</a></li>
      <li *ngIf="authService.userSubject$ | async" (click)="toggleMobileMenu()"><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li *ngIf="authService.userSubject$ | async" (click)="toggleMobileMenu()"><a routerLink="/chat" routerLinkActive="active">Live Chat</a></li>
      <li><a routerLink="/login" routerLinkActive="active" *ngIf="isMobile" (click)="toggleMobileMenu()">Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="active" *ngIf="isMobile" (click)="toggleMobileMenu()">Join Us</a></li>

    </ul>
  </div>
  <div class="navbar-right" >
    <ng-container *ngIf="authService.userSubject$ | async; else loginTemplate">
      <div class="user-menu">
        <img [src]="avatarUrl || 'assets/images/no-profile-photo.jpg'" alt="User avatar" class="avatar" (click)="goToProfile()">
        <button (click)="signOut()" class="btn-logout">Logout</button>
      </div>
    </ng-container>
    <ng-template #loginTemplate>
      <button *ngIf="!isMobile" routerLink="/login" class="btn-login">Login</button>
      <button *ngIf="!isMobile" routerLink="/signup" class="btn-register">Join Us</button>
    </ng-template>
  </div>
</nav>