
<div class="landing-container">
    <main>
      <section id="hero">
        <h2>Are you a digital nomad looking for events?</h2>
        <p>Connect with fellow digital nomads, find events, and explore together!</p>
        <button *ngIf="!(authService.userSubject$ | async)" class="cta-button" routerLink="/signup">Join Us</button>
        <!-- <button class="cta-button" (click)="scrollToSection('members')">Our Members</button> -->
      </section>
  
      <section id="features">
        <div class="feature" (mouseenter)="animateFeature($event)" (mouseleave)="resetFeature($event)">
          <h3>Make new connections</h3>
          <p>Connect with people in an easy and low-key way. Meet new friends, keep in touch, and expand your social circle.</p>
        </div>
        <div class="feature" (mouseenter)="animateFeature($event)" (mouseleave)="resetFeature($event)">
          <h3>Access Travel Stories</h3>
          <p>Read inspiring blog posts from fellow nomads sharing their experiences, tips, and adventures around the world.</p>
        </div>
        <div class="feature" (mouseenter)="animateFeature($event)" (mouseleave)="resetFeature($event)">
          <h3>Give back to the cummunity</h3>
          <p>Write a blog post to be featured on our blog.</p>
        </div>
        <!-- <div class="feature" (mouseenter)="animateFeature($event)" (mouseleave)="resetFeature($event)">
          <h3>Stunning Events</h3>
          <p>Discover and join exciting events from around the globe.</p>
        </div> -->
        <div class="feature" (mouseenter)="animateFeature($event)" (mouseleave)="resetFeature($event)">
          <h3>Real-time Chat</h3>
          <p>Be connected with your travel buddies through our integrated chat system.</p>
        </div>
        
      
      </section>


      <!-- <section id="tell-me-more">
        <h2>Tell me more</h2>
        <p>We're currently in the process of building our platform. Sign up to get updates and be the first to know when we launch!</p>
        <button class="cta-button" routerLink="/signup">Sign up</button>
      </section>
   -->
      <!-- <section id="testimonials">
        <h2>What people say about us</h2>
        <div class="testimonial-slider">
          <div class="testimonial">
            <p>"I've met the most amazing people and had unforgettable experiences thanks to WanderMundo."</p>
            <p class="author">- Sarah T., Digital Nomad</p>
          </div>
        </div>
      </section> -->
      <section id="events">
        <app-home></app-home>
      </section>
      

      <section id="members">
        <app-members></app-members>
      </section>

      <section id="coming-soon">
        <app-coming-soon></app-coming-soon>
      </section>

      <!-- <section id="cta">
        <h2>Want a smooth landing in your next destination?</h2>
        <button class="cta-button" routerLink="/signup">Join Us</button>
      </section> -->
    </main>
  
  
  </div>
