
  <div class="overlay">
    <h1 class="heading" @fadeInOnScroll>Our Top 10 Latest Members</h1>
    <p-carousel 
      [value]="users" 

      [circular]="true"
 
      [autoplayInterval]="7000"
      class="carousel-container">
      <ng-template pTemplate="item" let-user let-i="index">
        <div #memberCard 
             class="member-card" 
             [@staggerFadeOnScroll]="cardStates[i]">
          <img [src]="user.avatar_url || 'assets/images/no-profile-photo.jpg'" style="height: 140px; width: 140px;" class="avatar">
          <p class="name">{{ user.display_name || 'Private' }}</p>
          <p class="occupation">{{ user.occupation ?? "No Occupation provided" }}</p>
      
          <p class="bio">{{ user.bio ?? "This user is keeping things mysterious – no bio yet!"}}</p>
          <div class="admin-badge" *ngIf="user.is_admin">
            <i class="pi pi-star-fill"></i>
            Founder
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <div class="cta-container" *ngIf="!(authService.userSubject$ | async)" @fadeIn>
      <button class="cta-button" routerLink="/signup">Join Our Community</button>
    </div>
  </div>
