.overlay {

  border-radius: 10px;
  color: #fff;

}

.heading {
  font-size: 36px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;

  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 0 1%;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
  width: 200px; // Fixed width for each card
  height: 300px;

  .name {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .occupation {
    font-size: 14px;
    color: #777;
    color: white;
  }

  .website {
    font-size: 14px;
    color: white;
    background: rgba(4, 241, 95, 0.3);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    display: inline-block;
    
    &:hover {
      cursor: pointer;
      background: rgba(4, 241, 95, 0.4);
      text-decoration: none;
    }
  }

  .avatar {
    width: 140px; // Fixed size for avatar
    height: 140px;
  }

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}

.avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.occupation {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.cta-container {
  position: relative;

  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center; 
}

.overlay:hover .cta-container {
  opacity: 1;
}

.cta-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: #45a049;
  }
}



.carousel-container {

  margin: 0 auto;
  padding: 10px;
  max-width: 1200px; // Add max-width to contain carousel

  
}

::ng-deep .p-carousel {
  .p-carousel-container {
    padding: 0;
  }

  .p-carousel-items-container {
    margin: 0;
  }

  .p-carousel-item {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.subheading {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  
  p {
    margin: 5px 0;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    
    &.coming-soon {
      font-size: 14px;
      color: #04f15f;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 10px;
      font-weight: 600;
    }
  }
}
