@import '../../../global_styles.scss';

.overlay {
  padding: 4rem 2rem;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color:  #fff
}

.carousel-container {
  margin: 2rem auto;
  max-width: 1200px;

  ::ng-deep .p-carousel-indicators {
    margin-top: 2rem;
    
    .p-carousel-indicator button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.3);
      transition: all 0.3s ease;

      &.p-highlight {
        background: $primary-color;
        transform: scale(1.2);
      }
    }
  }
}

.member-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 2rem 1.5rem;
  margin: 1rem;
  height: 400px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .avatar {
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border: 3px solid #fff;
    padding: 3px;
  }

  .name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #fff;
  }

  .occupation {
    display: inline-block;
    font-size: 0.8rem;
    background: #fff;
    color: $primary-color;
    margin: 0.5rem 0 1rem;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    border: 1px solid rgba(76, 175, 80, 0.2);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .bio {
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--text-secondary-color);
    margin-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .admin-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(4, 241, 95, 0.9);
    color: white;
    padding: 3px 8px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 5px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    i {
      font-size: 14px;
    }
  }
}

.cta-container {
  margin-top: 3rem;

  .cta-button {
    background: $primary-color;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover {
      background: var(--primary-color-light);
      transform: translateY(-2px);
      box-shadow: 0 4px 15px rgba(var(--primary-color-rgb), 0.3);
    }
  }
}