@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css"; 
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

// Variables
$primary-color: #4CAF50;
$primary-hover: #45a049;
$gradient-start: #f5f7fa;
$gradient-end: #c3cfe2;


:root {
  --primary-color: #{$primary-color};
  --primary-color-light: #{$primary-hover};
  --text-color: #{$primary-color};
  --text-secondary-color: #ffffff;
}

// Reset Styles

// Body Styles
body {
  background: linear-gradient(135deg, $gradient-start 0%, $gradient-end 100%);
  background-attachment: fixed;
  background-size: cover;
  color: #333;
  min-height: 100vh;
  position: relative;
}

// Container Styles
.container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
}

// Button Styles
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-hover;
    border-color: $primary-hover;
  }
}

// Form Styles
input.form-control {
  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
  }
}

.p-button {
  height: 3rem;
  font-weight: 500;

  
  &.p-button-primary {
    background-color: #4CAF50;
    color: white;


    
    &:hover {
      background-color: #5a6268;
      border-color: #545b62;
    }
  }

  &.p-button-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    
    &:hover {
      background-color: #5a6268;
      border-color: #545b62;
    }
  }
}